@model IEnumerable<Movie>

    <h2>Movies</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var movie in Model)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Genre</td>
                    <td>@movie.ReleaseDate.ToShortDateString()</td>
                    <td>@movie.Duration minutes</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-info">Details</a>
                        <a asp-action="AddToProgram" asp-route-movieId="@movie.Id" class="btn btn-primary">Add To Program</a>
                        <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-warning">Edit</a>
                        <form asp-action="Delete" asp-route-id="@movie.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="Watchlist" asp-action="AddToWatchlist" method="post" class="d-inline">
                                <input type="hidden" name="movieId" value="@movie.Id" />
                                <button type="submit" class="btn btn-success">Add to Watchlist</button>
                            </form>
                        }
                </td>
                </tr>
            }
        </tbody>
    @*<tfoot></tfoot>*@
    </table>

    <a asp-action="Create" class="btn btn-primary">Add a New Movie</a>